<h2>Welcome {{data.user.name}}</h2>

<h1>New Survey</h1>
<form action="/admin/survey" method="post">
    Question:<br />
    <input type="text" name="question" /><br /><br />
    Answers: Delimit this with "," and no spaces.  EX: a,b,c,d<br />
    <input type="text" name="answers" /><br /><br />
    Use Index as Twitch Answer?
    <input type="checkbox" name="useIndex" /><br /><br />
    <input type="submit" value="Create Survey" />
</form>
<br />
<br />
<br />
<form action="/admin/lag-offset" method="post">
    Update the lag offset here:<br />
    <input type="text" name="lagOffset" value="{{data.lag}}"/><br />
    <input type="submit" value="Update" />
</form>

<h1>Surveys</h1>
{{#each data.surveys}}
    <div>
        {{#if active}}
            <form action="/admin/end-survey" method="post">
                <input type="hidden" name="id" value="{{id}}" />
                <input type="submit" value="End" />
            </form>
        {{else}}
            {{#if completed}}
                <form action="/admin/reset-survey" method="post">
                    <input type="hidden" name="id" value="{{id}}" />
                    <input type="submit" value="Reset" />
                </form>
            {{else}}
                <form action="/admin/start-survey" method="post">
                    <input type="hidden" name="id" value="{{id}}" />
                    <input type="submit" value="Start" />
                </form>
            {{/if}}
        {{/if}}
        <span style="font-weight: bold; color: #000090;">{{question}}</span> ID: {{id}}<br />
        Use Index for twitch? - {{useIndex}}<br />
        {{#each answers}}
            {{inc @index}}. {{answer}} - {{responses.length}}<br />
        {{/each}}
    </div><br />
{{/each}}