<h1>Surveys</h1>
{{#each data.surveys}}
    <div>
        <span style="font-weight: bold; color: #000090;">{{question}}</span><br />
        {{#each answers}}
            {{inc @index}}. {{answer}} - {{responses.length}}<br />
        {{/each}}
    </div><br />
{{/each}}