<!DOCTYPE HTML>
<html>
<head>
    <style>
        body {
            margin: 0;
            padding: 0;
            width: 1920px;
            height: 1080px;
            background-color: #000000;
            color: #FFFFFF;
            overflow: hidden;
        }
        .hidden {
            display: none;
        }
        #waiting {
            height: 400px;
            width: 1400px;
            margin: 200px auto;
            font-size: 96px;
            font-style: italic;
            font-weight: bolder;
            text-align: center;
        }
        #waiting #tasbot {
            margin-left: 20px;
        }
        #completed {
            position: absolute;
            top: 370px;
            left: 200px;
            color: darkred;
            font-size: 128px;
            -webkit-transform: rotate(-40deg);
        }
        #tabulating {
            height: 400px;
            width: 1400px;
            margin: 200px auto;
            font-size: 96px;
            font-style: italic;
            font-weight: bolder;
            text-align: center;
        }
        #tabulating #tasbot {
            margin-left: 20px;
            -webkit-animation: rotation 2s infinite linear;
        }

        @-webkit-keyframes rotation {
            from {-webkit-transform: rotate(0deg);}
            to   {-webkit-transform: rotate(359deg);}
        }

        #chart {
            width: calc(65% - 2px);
            height: 900px;
            float: left;
        }
        #legend {
            width: calc(35% - 2px);
            margin-top: 225px;
            float: right;
        }
        ul.legend {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        ul.legend li {
            position: relative;
            height: 40px;
            width: 100%;
            margin: 10px 0;
            padding: 0;
        }
        ul.legend li * {
            display: inline-block;
            position: absolute;
            top: 50%;
        }
        ul.legend li div.color {
            width: 100px;
            height: 40px;
            margin-right: 10px;
            transform: translate(0%, -50%);
        }

        ul.legend li div.text {
            font-size: 26px;
            line-height: 40px;
            transform: translate(100px, -50%);
        }
    </style>
    <script>
        window.chart = undefined;
        function getData() {
            var request = new XMLHttpRequest();
            request.open('GET', '/currentSurvey', true);
            request.onload = function() {
                if (request.status >= 200 && request.status < 400) {
                    // Success!
                    var survey = JSON.parse(request.responseText);

                    var data = {
                        question: survey.question,
                        datasets: [{
                            label: survey.question,
                            data: [],
                            backgroundColor: [
                                'rgba(255,  99, 102, 0.8)',
                                'rgba( 75, 192, 192, 0.8)',
                                'rgba( 54, 162, 235, 0.8)',
                                'rgba(255, 206,  86, 0.8)',
                                'rgba(153, 102, 255, 0.8)',
                                'rgba(255, 159,  64, 0.8)'
                            ]
                        }],
                        labels: []
                    };

                    survey.answers && survey.answers.forEach(function(answer) {

                        data.datasets[0].data.push(answer.responses.length);
                        data.labels.push(answer.answer);
                    });

                    if (!survey.active && !survey.completed) {

                        window.completed.classList.add('hidden');
                        window.tabulating.classList.add('hidden');
                        window.waiting.classList.add('hidden');
                        window.chartdiv.classList.add('hidden');
                        window.legend.classList.add('hidden');
                        if (survey.answers.filter(function(answer) {
                            return answer.responses.length > 0
                        }).length > 0) {
                            window.tabulating.classList.remove('hidden');
                        } else {
                            window.waiting.classList.remove('hidden');
                        }
                    } else {
                        window.completed.classList.add('hidden');
                        window.tabulating.classList.add('hidden');
                        window.waiting.classList.add('hidden');
                        window.chartdiv.classList.remove('hidden');
                        window.legend.classList.remove('hidden');
                        if (survey.completed) {
                            window.completed.classList.remove('hidden');
                        }
                    }

                    window.chart.data = data;
                    window.chart.update();
                    window.legend.innerHTML = window.chart.generateLegend();
                }
            };
            request.send();
        }

        window.setInterval(getData, 2000);

        window.onload = function() {
            window.waiting = document.getElementById("waiting");
            window.completed = document.getElementById("completed");
            window.ctx = document.getElementById("chartContainer");
            window.chartdiv = document.getElementById("chart");
            window.legend = document.getElementById("legend");
            window.tabulating = document.getElementById("tabulating");
            window.chart = new Chart(window.ctx ,{
                type: 'pie',
                data: null,
                options: {
                    aspectRatio: 1.24,
                    layout: {
                        padding: {
                            top: 0,
                            left: 0,
                            right: 0,
                            bottom: 0
                        }
                    },
                    animation: {
                        duration: 0
                    },
                    legend: {
                        display: false
                    },
                    legendCallback: function (chart) {
                        var text = [];
                        text.push('<h1 id="survey-question">' + chart.data.question + '</h1>');
                        text.push('<ul class="legend">');
                        var ds = chart.data.datasets[0];
                        var sum = ds.data.reduce(function add(a, b) {
                            return a + b;
                        }, 0);
                        for (var i = 0; i < ds.data.length; i++) {
                            text.push('<li>');
                            var perc = Math.round(100 * ds.data[i] / sum, 0);
                            text.push('<div class="color" style="background-color:' + ds.backgroundColor[i] + '"></div>');
                            text.push('<div class="text">' + chart.data.labels[i] + ' (' + ds.data[i] + ') (' + perc + '%)' + '</div>');
                            text.push('</li>');
                        }
                        text.push('</ul>');
                        return text.join("");
                    }
                }
            });


            getData();
        };
    </script>
</head>
<body>
<div id="waiting">
    Waiting for orders
    <img id="tasbot" src="/static/images/Cd2I4z2Z_400x400.png" />
</div>
<div id="completed">
    Final Results
</div>
<div id="tabulating">
    Tabulating Results
    <img id="tasbot" src="/static/images/Cd2I4z2Z_400x400.png" />
</div>
<div id="chart">
    <canvas id="chartContainer"></canvas>
</div>
<div id="legend"></div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
</html>