
<h2>Welcome {{data.user.name}}</h2>

<h1>Bot Setup</h1>
<a href="https://passport.twitch.tv/sessions/new?client_id=mxggsshvqa64my347vpv7kkbw8c338&amp;oauth_request=false&amp;redirect_path=https%3A%2F%2Fid.twitch.tv%2Foauth2%2Fauthorize%3Fclient_id%3Dmxggsshvqa64my347vpv7kkbw8c338%26redirect_uri%3Dhttps%3A%2F%2Ftas.bot%2Fadmin%2Fsetup-bot%26response_type%3Dtoken%26scope%3Dchat%3Aread%2Bchat%3Aedit&amp;response_type=token&amp;scope=chat%3Aread+chat%3Aedit"><button>Get Token</button></a><br />
<br />
<form action="/admin/setup-bot" method="post">
    <label for="botName">Bot Name:</label><br />
    <input id="botName" type="text" name="botName" style="width: 250px;"/><br />
    <label for="channel">Channel:</label><br />
    <input id="channel" type="text" name="channel" style="width: 250px;"/><br />
    <label for="token">Auth Token:</label><br />
    <input id="token" type="text" name="token" style="width: 250px;"/><br />
    <input type="submit" value="Start Bot" />
</form>
<script>
    window.onload = function() {
        if (hashValue('access_token') != undefined) {
            document.getElementById('token').value = hashValue('access_token');
        }
    };

    function hashValue(searchKey) {
        var query = window.location.hash.substring(1);
        var queryPairs = query.split("&");
        console.log(queryPairs);
        for (i=0;i<queryPairs.length;i++) {
            var pair = queryPairs[i].split("=");
            if (pair[0] == searchKey) {
                return pair[1];
            }
        }
    }
</script>