<div style="
  background: #000090;
  min-height: 70px;
  position: relative;
">
  <span style="
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 60px;
    color: white;
  ">TASurvey</span>
  {{#if unAuthenticated}}
      <span style="
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: white;
      "><a href="/admin" style="
    color: white;
  ">Login</a></span>
  {{ else }}
      <span style="
        position: absolute;
        right: 210px;
        top: 50%;
        transform: translateY(-50%);
        color: white;
      "><a href="/" style="
        color: white;
      ">Public</a></span>
          <span style="
        position: absolute;
        right: 110px;
        top: 50%;
        transform: translateY(-50%);
        color: white;
      "><a href="/admin" style="
        color: white;
      ">Admin</a></span>
  {{/if}}
</div>